/* Palette: #0bf17d, #eee, #121212 */

* {
  font-family: Montserrat, Inter, Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  }

header {
  height: 150px;
  width: 100%;
  align-items: baseline;
  background-color: #121212;
  color: white;
  }

a {
  color: #0bf17d;
  text-decoration:none;
}

#mainNav {
  display:flex;
  justify-content:right;
  align-items: baseline;
  flex-direction: row;
}

li {
  padding: 10px;
  list-style-type: none;
  flex-direction: row;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #eee;
  padding: 10px;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.iframe-container {
  width: 80%;
  height: 200px;
  background-color: red;
  }


.iframe-header {
  width: 80%;
  height: 50px;
  background-color: gray;
  }


.iframe {
  display: block; 
  width="100%"; 
  height= "calc(100% - 40px"; 
  frameborder="0";
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: transparent;
  z-index: 1;
  border: none;
}

          
#closeButton {
  color: green;
  }

/* Buttons */

    .button {
      background-color: #0bf17d;
      color: black;
      border-radius: 15px;
      border: 1px solid white;
      padding: 5px;
    }

    #social {
      padding: 5px;
      background-color: #0bf17d;
      color: black;
      border-radius: 15px;
      border: 1px solid white;
    }

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #121212;
  color: white;
  height: 150px;
}
