main {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  }


#orange {
  width: 200px;
  height:240px;
  z-index: -1;
  }


.iframe-container {
  width: 80%;
  height: 200px;
  background-color: red;
  }


.iframe-header {
  width: 80%;
  height: 50px;
  background-color: gray;
  }
          
#closeButton {
  color: green;
  }

