/* Palette: #91eb0d, #43493a, #a7ae9c */

* {
  font-family: Montserrat, Inter, Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  }

header {
  height: 200px;
  width: 100%;
  align-items: baseline;
  background-color: #a7ae9c;
  padding: .5em;
  }

#mainNav {
  display:flex;
  justify-content:right;
  align-items: baseline;
  flex-direction: row;
}

li {
  padding: 10px;
  list-style-type: none;
  flex-direction: row;
}

.iframe-container {
  width: 80%;
  height: 200px;
  background-color: red;
  }


.iframe-header {
  width: 80%;
  height: 50px;
  background-color: gray;
  }


.iframe {
  display: block; 
  width="100%"; 
  height= "calc(100% - 40px"; 
  frameborder="0";
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: transparent;
  z-index: 1;
  border: none;
}

          
#closeButton {
  color: green;
  }

#social {
  color: #43493a;
  font-size: .5em;
  padding: 5px;
}

footer {
  text-align:center;
  background-color: #a7ae9c;
  height: 100px;
}
